body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0 30px;
    margin: 10px 5px;
}

.header__ttl--link img {
    width: 100px;
    max-width: 100%;
    height: 25px;
}

.header__nav--list {
    display: flex;
    justify-content: space-between;
}

.header__nav--item {
    list-style: none;
    font-size: 0.7em;
}

.header__nav--item:not(:last-of-type) {
    margin-right: 20px;
}

.header__nav--item--link {
    text-decoration: none;
    color: #00000084;
}

.catch {
    position: relative;
}

.catch__img {
    margin: 0 0 0 auto;
    display: block;
    width: 60%;
}

.catch__ttl {
    position: absolute;
    top: 15%;
    left: 20%;
    font-family: 'Indie Flower', cursive;
    font-size: 4.5vw;
    line-height: 150%;
    color: #be1491;
    font-weight: bold;
}

.blue__text {
    color: #1695a3;
}

.catch__text1 {
    position: absolute;
    top: 60%;
    left: 20%;
    font-weight: bold;
    color: #be1491;
    font-size: 1.5vw;
}

.catch__text2 {
    position: absolute;
    top: 66%;
    left: 20%;
    color: #818181;
    font-size: 1vw;
    line-height: 150%;
}

.news {
    margin: 0 auto;
    width: 55%;
    padding: 50px 0;
}

.news__tag {
    color: #be1491;
    font-family: 'Indie Flower', cursive;
    margin: 20px 0;
}

.news__ttl {
    color: #686868;
    margin: 10px 0 30px;
    font-size: 1.3em;
}

.news__content {
    border-top: solid 2px #aeaeae;
    border-bottom: solid 2px #aeaeae;
    padding: 20px 0;
    font-size: 0.8em;
}

.news__list {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(210, 210, 210);
    color: #838383;
    height: 35px;
    margin: 5px 0;
}

.news__date {
    margin-right: 20px;
}

.news__category {
    color: white;
    font-size: 1em;
    background-color: #a9067e;
    border-radius: 20px 20px 20px 20px;
    min-width: 70px;
    height: 15px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inner__tag {
    color: #be1491;
    font-family: 'Indie Flower', cursive;
    display: flex;
    justify-content: center;
}

.inner__ttl {
    display: flex;
    justify-content: center;
    color: #686868;
    margin: 10px 0 40px;
    font-size: 1em;
}

.inner__back--gray {
    background-color: #ececec;
    padding: 40px 0;
}

.inner__box {
    width: 70%;
    margin: 0 auto;
}

.inner__content {
    display: flex;
    justify-content: space-between;
}

.inner__text {
    color: #838383;
    font-size: 0.7em;
    line-height: 170%;
}

.inner__img {
    width: 280px;
    max-width: 100%;
    height: auto;
}

.service {
    width: 70%;
    margin: 0 auto;
}

.service__tag {
    color: #be1491;
    font-family: 'Indie Flower', cursive;
    margin: 40px 0 10px;
}

.service__ttl {
    color: #686868;
    margin: 10px 0 30px;
    font-size: 1.2em;
}

.service__content {
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.service__img {
    width: 100px;
    max-width: 100%;
}

.service__back1 {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #b50856;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__img--item1 {
    margin: 20px 0 10px;
}

.service__text--item1 p {
    margin: 5px 40px;
    font-size: 0.7em;
    line-height: 20px;
}

.service__text--item1 h3 {
    text-align: center;
    font-size: 0.8em;
}

.service__back2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #b15e9b;
    color: white;
    display: flex;
}

.service__back3 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #a387a0;
    color: white;
    display: flex;
}

.service__img--item2 {
    margin: auto 0;
    margin-left: 15px;
    width: 280px;
    max-width: 100%;
}

.service__text--item2 {
    display: inline-block;
    margin: auto 10px;
}

.service__text1 {
    padding-bottom: 10px;
    font-size: 0.8em;
}

.service__text2 {
    font-size: 0.7em;
    line-height: 20px;
    margin-right: 20px;
}

.blog__back--gray {
    background-color: #ececec;
    margin: 30px 0;
    padding: 20px 0;
}

.blog__back {
    width: 70%;
    margin: 0 auto;
}

.blog__tag {
    color: #be1491;
    font-family: 'Indie Flower', cursive;
    margin: 30px 0 10px;
}

.blog__ttl {
    color: #686868;
    font-size: 1.3em;
}

.blog__cards {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.blog__card--item {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    width: 200px;
    height: 250px;
    max-width: 100%;
    position: relative;
}

.card__img img {
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.blog__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    max-width: 100%;
    height: 11%;
    background-color: #a9067e;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.blog__item--text {
    color: white;
    font-size: 0.7em;
}

.blog__card--text {
    font-size: 0.7em;
    margin: 15px 15px;
    line-height: 20px;
    color: #686868;
}

.blog__card--tag {
    align-items: center;
    margin: 30px 15px 10px;
    font-size: 0.6em;
    color: #888888;
    display: flex;
    justify-content: space-between;
}

.blog__button {
    width: 150px;
    height: 40px;
    color: #b50856;
    border-radius: 30px;
    border: solid 1px #b50856;
    background-color: white;
    margin: 30px auto;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8em;
}

.overview {
    width: 55%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.overview__tag {
    color: #be1491;
    font-family: 'Indie Flower', cursive;
    margin-top: 60px;
}

.overview__ttl {
    color: #686868;
    font-size: 1.3em;
    margin: 15px 0 30px;
}

.overview__table {
    width: 100%;
    height: 250px;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    font-size: 0.7em;
}

th,
td {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: left;
    color: #686868;
    vertical-align: middle;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    width: 30%;
}

.td {
    width: 70%;
}

.back {
    display: flex;
    justify-content: space-around;
    height: 230px;
}

.back__left {
    display: flex;
    position: relative;
    z-index: 0;
    width: 50%;
    height: auto;
}

.back__left img {
    width: 100%;
    height: auto;
}

.back__right {
    display: flex;
    position: relative;
    z-index: 0;
    width: 50%;
    height: auto;
}

.back__right img {
    width: 100%;
    height: auto;
}

.back__img--text {
    color: white;
    z-index: 10;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
}

.form {
    margin: 0 auto;
    padding: 60px;
}

.form__text {
    color: #686868;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.form__border::before {
    content: '';
    border-left: 1px solid #b50856;
    height: 30px;
    display: block;
    transform: translateX(50%);
    margin: 20px 0;
}

.form__submit {
    position: relative;
    background: linear-gradient(90deg, #ff52c5, #b50856);
    box-shadow: 0 8px 0 rgb(105, 44, 82);
    width: 200px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    border-radius: 60px;
    margin: 0 auto;
}

.form__submit::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    background: url(../img/mailicon.svg) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
}

.footer {
    background-color: #f3f3f3;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__text {
    color: #838383;
    font-size: 0.5em;
}