.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 30px;
}

.header__ttl--link img {
    width: 80px;
    height: 20px;
}

.header__nav--list {
    display: flex;
    justify-content: space-between;
}

.header__nav--item {
    list-style: none;
    font-size: 10px;
}

.header__nav--item:not(:last-of-type) {
    margin-right: 10px;
}

.header__nav--item--link {
    text-decoration: none;
    color: #00000043;
}